@media screen and (max-width: 700px) {
	.title {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.menu {
	display: flex;
	flex-direction: column;
	height: 250px;
	background: url(../images/pattern-bg.png);
	background-size: 100%;
	.title {
		display: flex;
		color: white;
		flex-grow: 1;
		align-items: center;
		justify-content: center;
		font-size: 26px;
		font-weight: 500;
	}
	.spacer {
		flex-grow: 1;
	}
}
